.login-page {
  width: auto;
  padding: 8% 0 0;
  margin: auto;
}
.bolt-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: auto;
  margin: 40px auto;
  padding: 20px 30px;
  text-align: center;
  /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
}
.bolt-form input,
.bolt-form textarea {
  /*font-family: "Roboto", sans-serif;*/
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.bolt-form select {
  padding: 0px;
  color: #312C32;
}
textarea {
  resize: none;
}

.text-left {
    display: inline;
}

.text-left input[type=checkbox] {
    width: auto;
}

.bolt-form a.bolt-link button {
}

.bolt-form a.bolt-link button:hover {
    background: transparent;
}
.bolt-form a {
    display: block;
    margin: 10px;
    padding: 0px;
}

.bolt-form button {
  text-transform: uppercase;
  outline: 0;
  background: #312C32;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.bolt-form button:hover,.bolt-form button:active,.bolt-form button:focus {
  background: rgb(98, 94, 99);
}
.bolt-form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.bolt-form .message a {
  color: #312C32;
  text-decoration: none;
}
.bolt-form .register-form {
  display: none;
}