body {
  font-family: 'Open Sans', sans-serif;
  color: #312C32;
  background: #fff ;/*url('/../uploads/bg.png') repeat center top fixed;*/
}

a {
  color: #98dafc;
  cursor: pointer;
}

a:hover {
  color: #daad86;
  text-decoration: underline;

    -webkit-transition: all .3s ease-in 0s;
       -moz-transition: all .3s ease-in 0s;
        -ms-transition: all .3s ease-in 0s;
         -o-transition: all .3s ease-in 0s;
            transition: all .3s ease-in 0s;
}

.bolt-section,
.bolt-welcome {
  border-radius: 3px;
}

#bolt-presenter {
  top: 70px;
  background: #98dafc;
  color: #312C32;
  padding: 10px;
  line-height: 30px;
  border-radius: 0 10px 10px 0px;
  z-index: 99;
  position: fixed;
}

body .bolt-welcome {
  margin: 70px;
}

body .bolt-section {
  margin: 70px;
  background: #fff;
  color: #312C32;
  padding: 5px 10px;
}

.bolt-button {
  line-height: 30px;
  padding: 0 10px;
  color: #fff;
  font-size: 110%;
  border: none;
  width: 100%;
  border-radius: 3px;
  color: #312C32;
}

.section-title {}

.section-title h2 {
  color: #daad86;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  background: #312C32;
  border-radius: 3px;
    
}

.video-controls {
  background: #312C32;
  color: #98dafc;
  font-size: 120%;
}

.container {
  width: 90%;
}

#back-top {
  bottom: 20px;
  position: fixed;
  right: 25px;
  z-index: 10;
  background: #312C32;
  padding: 5px 10px;
  color: #fff;
}

.truncate {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}
/*body {
    background-color: #312c32;
    font-family: 'Open Sans', sans-serif;
    line-height: 21px;
    font-size: 13px;
    color: #fff;
    background: rgb(242, 242, 242)  url('/../uploads/bg.png') repeat center top fixed;
    font-family: monospace;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #fff;
	
    -webkit-transition: all .3s ease-in 0s;
       -moz-transition: all .3s ease-in 0s;
        -ms-transition: all .3s ease-in 0s;
         -o-transition: all .3s ease-in 0s;
            transition: all .3s ease-in 0s;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

h1, h2, h3,
h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

body .bolt-section {
	padding: 70px 0;
}

.container {
	width: 90%;
	padding 3px 10px;
}

.bolt-section {
	color: #172E35;
}

.bolt-section a {
	color: rgb(143, 10, 10);
}

.bolt-section a:hover {
	color: rgb(143, 10, 10);
	text-decoration: underline;
}

.bolt-button {
    border-top: 1px solid rgba(144, 22, 22, 0);
    background: rgb(143, 10, 10);
    line-height: 40px;
    margin-top: 8px;
    padding: 0 10px;
    color: #fff;
    font-size: 110%;
    border: none;
}

input {
	background: transparent;
    border: none;
    border-bottom: solid #184339 3px;
    width: 100%;
}

button {
    width: 100%;
}

.button-full {
	margin-top: 0px;
	padding: 0 5px;
}

.button-half {
	width: auto;
}

textarea {
	resize: none;
    line-height: 30px;
    padding: 0 3px;
    margin: 0px;
    border: solid rgb(23, 45, 52);
    width: 100%;
    border-radius: 2px;
    color: #415359;

}



.bolt-social {
    width: 100%;
    background: none;
    line-height: 40px;
    padding: 0px;
    margin: 5px;
    border: 0px;
    border-radius: 3px;
    color: #fff;
    display: block;
}

.button-icon {
    padding-right: 10px;
}

.social-login a {
    display: block;
    margin: 10px;
    width: 100%;
}

.social-login a button {
    color: #fff;
}

#social-login {
    border-left: solid #172E35 5px;
}

input:focus {
	background: #fff;
    border: #222 solid;

    -webkit-transition: all .3s ease-in 0s;
       -moz-transition: all .3s ease-in 0s;
        -ms-transition: all .3s ease-in 0s;
         -o-transition: all .3s ease-in 0s;
            transition: all .3s ease-in 0s;
}

.section-title {}

.section-title h2 {
    color: #172E35;
    font-size: 40px;
    margin: 20px;
    font-weight: 800;
    font-family: monospace;
    text-align: center;
    background: #fff;
    border-radius: 3px;
    padding: 10px;
}

.sec-sub-title {
    margin: 35px 0 45px;
}

.sec-sub-title p {
    font-weight: 600;
    line-height: 24px;
    font-size: 18px;
    color: #5b646e;
}

.divider {
  margin-top: 30px;
}

.divider i {
  color: #333333;
}

.divider:before,
.divider:after {
  content: "__________________________________";
  color: #e6e8ea;
  position: relative;
  bottom: 6px;
}

.divider:before {
  right: 10px;
}

.divider:after {
  left: 10px;
}

.truncate {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}

#preloader {
  background-color: #fff;
  border: solid #fff;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1100;
}

#preloader > img {
  left: 40%;
  position: absolute;
  top: 40%;
}

#back-top {
  bottom: 20px;
  position: fixed;
  right: 25px;
  z-index: 10;
  background: #172E35;
  padding: 5px 10px;
  color: #fff;
}*/