#login-modes {
    background: #5A565B;
    padding: 50px;
    border-radius: 4px;
}

.login-elements {
    border-radius: 3px;
    line-height: 30px;
    width: 100%;
}

.bolt-button {
    background: #98dafc;
}