.bolt-login {
    background-color: rgba(230, 233, 233, 0.39);
    font-size: 120%;
    margin: 5%; 
    padding: 5%;
}

input[type=checkbox] {
    width: auto;
}


.button-icon {
    padding-right: 10px;
}